<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="hw5v3.Properties.Settings.BusinessConnectionString_Tim"
            connectionString="Data Source=140.118.5.97,14433;Initial Catalog=Business;Persist Security Info=True;User ID=Business_Server;Password=@Business_Server"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>